#header {
    width: auto;
    height: 100px;
    border: solid lpx;
    background-color: rgb(206, 124, 84);
}

#main_menu {
    width: auto;
    height: 30px;
    border: solid lpx gray;
    background-color: gray;
    color: white;
}

#side_menu {
    float: left;
    width: 10%;
    height: 500px;
    border: solid lpx;
    background-color: rgb(184, 182, 74);
}

#content {
    float: left;
    width: 89%;
    height: 500px;
    border: solid lpx;
    margin-left: 3px;
    background-color: rgb(99, 111, 181);
}
.komentar{
    color: rgb(19, 23, 65);
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}